<h1>Ead-da-Burger!</h1>

<h2>Custom Burgers</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that have been eaten!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/if}}
  {{/each}}
</ul>

<h2>Enter the name of a burger that you want to eat, then click on submit</h2>

<form class="create-form">

  <div class="form-group">
    <label for="burgerNameID">Burger Name:</label>
    <input type="text" id="burgerNameID" name="name">
  </div>

  <button type="submit">Submit</button>
</form>
